#theme1edit,#theme2edit{
    width: 40%;margin-left: 8px;float: right;
}
.dialogtheme1{
    width: 366px;padding: 22px;margin: auto;margin-top: 155px;
    }
    .dialogtheme2{
        width: 366px;padding: 22px;margin: auto;margin-top: 155px;
        }